<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artikel bearbeiten</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Artikel bearbeiten</h1>
<form th:action="@{/admin/items/edit/{id}(id=${item.id})}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:value="${item.name}">
    </div>
    <div>
        <label for="description">Beschreibung:</label>
        <textarea id="description" name="description" th:text="${item.description}"></textarea>
    </div>
    <div>
        <label for="price">Preis:</label>
        <input type="text" id="price" name="price" th:value="${item.price}">
    </div>
    <div>
        <label for="imageUrl">Bild URL:</label>
        <input type="text" id="imageUrl" name="imageUrl" th:value="${item.imageUrl}">
    </div>
    <div>
        <button type="submit">Speichern</button>
    </div>
</form>
</body>
</html>
