/* Основные стили */
body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-image: url('../images/greek-pattern.png'); 
    background-position: center;
}

.nav-link.active {
    background-color: #5F9EA0;
}

header {
    background-color: #37678f;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #4682B4;
    padding: 15px;
    flex-wrap: wrap;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #5F9EA0;
}

.container {
    width: calc(100% - 80px); /* Учтите ширину паттерна */
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1;
    border-radius: 8px;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
    margin: 0;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #37678f;
    margin-bottom: 20px;
}

.menu-category {
    margin-bottom: 40px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #e0e0e0;
}

.menu-item h3 {
    margin: 0 0 5px 0;
    color: #333;
    font-size: 1.2em; /* Увеличен размер шрифта */
}

.menu-item p {
    margin: 0;
    font-size: 1.1em; /* Увеличен размер шрифта */
}

.menu-item .price {
    color: #4682B4;
    font-weight: bold;
    font-size: 1.1em; /* Увеличен размер шрифта */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #222a31;
    color: #fff;
    margin-top: auto;
    width: 100%;
}

.kontakt {
    font-size: 80%;
    text-align: center;
}

/* Стили для форм */
.form-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Стили для плиток товаров */
.product-tile {
    background-color: #f4f4f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-tile:hover {
    background-color: #e0e0e0;
}

.product-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

.product-info h3, .product-info p {
    margin: 0 10px;
    font-size: 1.1em;
}

.product-info .price {
    color: #4682B4;
    font-weight: bold;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

/* Адаптивные стили */
@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }
}

@media (max-width: 768px) {
    body {
        background-size: contain; /* Изменим размер фона для мобильных устройств */
        background-position: top;
    }

    header {
        font-size: 1.5em;
    }

    nav {
        padding: 10px;
    }

    nav a {
        margin: 5px;
        font-size: 1.2em;
    }

    .container {
        margin: 10px auto;
        padding: 15px;
        width: calc(100% - 40px);
        max-width: 100%;
    }

    .product-tile {
        flex-direction: column;
    }

    .product-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-actions {
        margin-top: 10px;
        margin-left: 0;
        justify-content: space-around;
        width: 100%;
    }
}

@media (max-width: 480px) {
    body {
        background-size: contain; /* Изменим размер фона для мобильных устройств */
        background-position: top;
    }

    header {
        font-size: 1.8em;
        padding: 10px 0;
    }

    nav {
        padding: 10px;
    }

    nav a {
        margin: 2px;
        font-size: 1.4em;
        padding: 8px 10px;
    }

    .container {
        padding: 10px;
        margin: 10px auto;
        width: calc(100% - 20px);
        max-width: 100%;
        flex: 1;
    }

    .product-tile {
        flex-direction: column;
    }

    .product-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-actions {
        margin-top: 10px;
        margin-left: 0;
        justify-content: space-around;
        width: 100%;
    }
}
