<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <h1>Volkswohl Restaurant</h1>
</header>
<nav>
    <a href="/" class="nav-link">Home</a>
    <a href="/menu" class="nav-link">Menü</a>
    <a href="/contact" class="nav-link">Kontakt</a>
</nav>
<div class="container">
    <h2>Fehler</h2>
    <p>Es ist ein Fehler aufgetreten. Bitte versuchen Sie es später erneut.</p>
</div>
<footer>
    <p>&copy; 2024 Restaurant. Alle Rechte vorbehalten.</p>
</footer>
</body>
</html>
